<% include ../_header.ejs %>

<h1>Simplify your links</h1>

<form action="" method="get">
	<input name="originalURL" required placeholder="paste url here" />
	<button type="submit">SHORTEN URL</button>
</form>

<% if (typeof userUrl != "undefined" && userUrl.originalURL != "") { %>
<br /><br />
<table>
	<tr>
		<td align="left">
			<%if (userUrl.originalURL != "") { %>
				<a href="<%= userUrl.originalURL %>" target="_blank"><%= userUrl.originalURL %></a>
			<% } %>
		</td>
	</tr>
	<tr>
		<td align="left">
			<%if (userUrl.shortUrlPublic != "") { %>
				<a href="<%= userUrl.shortUrlPublic %>" target="_blank"><%= httpUrl %><%= userUrl.shortUrlPublic %></a> 
				<button class="btn" data-clipboard-text="<%= httpUrl %><%= userUrl.shortUrlPublic %>">copy</button>
			<% } %>
		</td>
	</tr>
	<tr>
		<td align="left">
			<%if (userUrl.shortUrlPrivate != "") { %>
				<a href="<%= userUrl.shortUrlPrivate %>" target="_blank"><%= httpUrl %><%= userUrl.shortUrlPrivate %></a> 
				<button class="btn" data-clipboard-text="<%= httpUrl %><%= userUrl.shortUrlPrivate %>">copy</button>
			<% } %>
		</td>
	<tr>
</table>
<% } %>

<br /><br />
<table>
	<thead>
		<tr>
			<td>Original URL | </td>
			<td>Short URL | </td>
			<td>Created | </td>
			<td>Clicks</td>
		</tr>
	</thead>
	<tbody>
		<% if (typeof allUserUrls != "undefined" && allUserUrls.length > 0) { %>
			<% for (var i = 0; i < allUserUrls.length; i++) { %>
			<tr>
				<td>
					<a href="<%= allUserUrls[i].originalURL %>" target="_blank">
						<%= allUserUrls[i].originalURL.slice(0, 30) %>...
					</a>
				</td>
				<td>
					<a href="<%= httpUrl %><%= allUserUrls[i].shortUrlPublic %>" target="_blank">
						<%= httpUrl %><%= allUserUrls[i].shortUrlPublic %>
					</a>
				</td>
				<td><%= allUserUrls[i].created.toLocaleDateString().replace(/-/g, ".") %> in <%= allUserUrls[i].created.toLocaleTimeString() %></td>
				<td><%= allUserUrls[i]["clicksSum"] %></td>
			</tr>
			<% } %>
		<% } else { %>
			<tr><td colspan="4">0 records founded...</td></tr>
		<% } %>
	</tbody>
</table>

<% include ../_footer.ejs %>
