<% include ../_header.ejs %>

<h1>Simplify your inks</h1>

<form action="" method="get">
	<input name="originalURL" required placeholder="paste url here" />
	<button type="submit">SHORTEN URL</button>
</form>

<% if (UserUrl.originalURL != "") { %>
<br /><br />
<table>
	<tr>
		<td align="left">
			<%if (UserUrl.originalURL != "") { %>
				<a href="<%= UserUrl.originalURL %>" target="_blank"><%= UserUrl.originalURL %></a>
			<% } %>
		</td>
	</tr>
	<tr>
		<td align="left">
			<%if (UserUrl.shortUrlPublic != "") { %>
				<a href="<%= UserUrl.shortUrlPublic %>" target="_blank">http://localhost:8080/<%= UserUrl.shortUrlPublic %></a> 
				<button class="btn" data-clipboard-text="http://localhost:8080/<%= UserUrl.shortUrlPublic %>">copy</button>
			<% } %>
		</td>
	</tr>
	<tr>
		<td align="left">
			<%if (UserUrl.shortUrlPrivate != "") { %>
				<a href="<%= UserUrl.shortUrlPrivate %>" target="_blank">http://localhost:8080/<%= UserUrl.shortUrlPrivate %></a> 
				<button class="btn" data-clipboard-text="http://localhost:8080/<%= UserUrl.shortUrlPrivate %>">copy</button>
			<% } %>
		</td>
	<tr>
</table>
<% } %>

<br /><br />
<table>
	<thead>
		<tr>
			<td>Original URL | </td>
			<td>Short URL | </td>
			<td>Created | </td>
			<td>All Clicks</td>
		</tr>
	</thead>
	<tbody>
		<% if (AllUserUrls != undefined && AllUserUrls.length > 0) { %>
			<% for (var i = 0; i < AllUserUrls.length; i++) { %>
			<tr>
				<td>
					<a href="<%= AllUserUrls[i].originalURL %>" target="_blank">
						<%= AllUserUrls[i].originalURL.slice(0, 30) %>...
					</a>
				</td>
				<td>
					<a href="http://localhost:8080/<%= AllUserUrls[i].shortUrlPublic %>" target="_blank">
						http://localhost:8080/<%= AllUserUrls[i].shortUrlPublic %>
					</a>
				</td>
				<td><%= AllUserUrls[i].created.toLocaleDateString().replace(/-/g, ".") %> in <%= AllUserUrls[i].created.toLocaleTimeString() %></td>
				<td><%= AllUserUrls[i].users[0]["clicks"] %></td>
			</tr>
			<% } %>
		<% } else { %>
			<tr><td colspan="4">0 records founded...</td></tr>
		<% } %>
	</tbody>
</table>

<% include ../_footer.ejs %>
