<% include ../_header.ejs %>

<h1>User private link zone</h1>

<% if (typeof userUrl != "undefined") { %>

<p>CREATED: <%= userUrl["created"] %></p>
<p><a href="<%= userUrl["originalURL"] %>" target="_blank"><%= userUrl["originalURL"] %></a></p>
<p>
	<a href="<%= httpUrl %><%= userUrl["shortUrlPublic"] %>" target="_blank"><%= httpUrl %><%= userUrl["shortUrlPublic"] %></a> 
	<button class="btn" data-clipboard-text="<%= httpUrl %><%= userUrl["shortUrlPublic"] %>">copy</button>
</p>

<br />
<hr width="60%">
<br />

<table class="user-list">
	<thead>
		<tr>
			<th>IP</th>
			<th>OS</th>
			<th>BROWSER</th>
			<th>REGION</th>
			<th>CLICKS</th>
		</tr>
	</thead>
	<tbody>
	<% for (var i = 0; i < userUrl.users.length; i++) { %>
	<tr>
		<td><%= userUrl.users[i]["ip"] %></td>
		<td><%= userUrl.users[i]["os"] %></td>
		<td><%= userUrl.users[i]["browser"] %></td>
		<td><%= userUrl.users[i]["region"] %></td>
		<td><%= userUrl.users[i]["clicks"] %></td>
		</td>
	</tr>
	<% } %>
	</tbody>
</table>

<% } %>

<% include ../_footer.ejs %>
